#notification{
    width: 75%;;
    padding: 10px;
    margin: 10px;
    display: none;
    align-items: center;
    justify-content: space-between;
    border: 2px solid red;
    border-radius: 5px;
    background: rgba(255, 0, 0, 0.05)
}

#notification-text{
    font-weight: bolder;
}

.close-button{
    cursor: pointer;
}