@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;;
    background: #eeeeee;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-64 { font-size: 64px; }

.material-icons-outlined.md-18 { font-size: 18px; }
.material-icons-outlined.md-24 { font-size: 24px; }
.material-icons-outlined.md-36 { font-size: 36px; }
.material-icons-outlined.md-48 { font-size: 48px; }
.material-icons-outlined.md-64 { font-size: 64px; }

.material-icons.orange600 { color: #FB8C00; }
.material-icons-outlined.orange600 { color: #FB8C00; }

nav{
    padding: 0px 25%;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    box-shadow:0px 1px 10px #d6d6d6;
}

nav > img{
    width: 5rem;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav > .logo > img{
    padding: 10px;
    width: 50%;
}

.home-button{
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 0px;
    border: none;
    background: none;
    border-bottom: 5px solid orange;
}

.add-button{
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 0px;
    border: none;
    background: none;
}

.profile-button{
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 0px;
    border: none;
    background: none;
}

.logout-button{
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 0px;
    border: none;
    background: none;
}

.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #eeeeee;
}

.blogs-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parent-container{
    margin: 20px 0px;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 14fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 { 
    grid-area: 1 / 1 / 3 / 2; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.div2 { 
    grid-area: 1 / 2 / 2 / 6; 
    font-size: 0.8rem;
    display: flex;
    align-items: flex-end;
    padding: 0px 5px;
}
.div3 { 
    grid-area: 2 / 2 / 3 / 6; 
    font-size: 0.8rem;
    display: flex;
    padding: 0px 5px;
}

.blog-card{
    width: 100%;
    margin: 0.25rem;
    padding: 1rem;
    background: white;
    border-radius: 5px;
}

.no-blog-container{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 5px;
}

.no-blog-container p{
    padding: 1px;
    margin: 1px;
}

.blog-card img {
    max-width: 100%;
}

.add-container{    
    display: none;
    flex-direction: column;
    align-items: center;
    background: #eeeeee;
}

.add-blog{
    width: 100%;
    margin: 0.25rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 5px;
}

.add-blog > input, textarea{
    padding: 10px;
    margin: 5px;
    font-family: poppins, sans-serif;
    border: 1px solid orange;
    border-radius: 5px;
}

.tittle:focus{
    outline: none;
    border: 2px solid orange;
}

.content:focus{
    outline: none;
    border: 2px solid orange;
}

.submit-button{
    padding: 5px;
    margin: 5px;
    margin-top: 20px;
    outline: none;
    border: 2px solid orange;
    border-radius: 5px;
}

.submit-button:hover{
    border: 2px solid orangered;
    background-color: orange;
    transition: 200ms ease-in;
}

.profile-container{
    display: none;
    flex-direction: column;
    align-items: center;
    background: #eeeeee;
}

.verify-button{
    background: red;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

.delete-blog-button{
    background: red;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

.delete-blog-button:hover{
    color: black;
    border: 1px solid black;
}

.verify-button:hover{
    color: black;
    border: 1px solid black;
}