.loading-screen{
    /* position: absolute; */
    position: fixed;
    inset: 0;
    z-index: 1000;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
    overflow: hidden;
}

.loading-screen-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-screen-image > img {
    width: 50%;
    border-radius: 10px;
}

.loader-animation{
    transform: translateY(-1.5rem);
}

.loader-one, .loader-two, .loader-three{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid orange;
}

.loader-one{
    animation: loader 500ms ease-in infinite;
}
.loader-two{
    animation: loader 500ms 100ms ease-in infinite;
}
.loader-three{
    animation: loader 500ms 200ms ease-in infinite;
}

@keyframes loader{
    0%{
        background: transparent;
    }
    100%{
        background: red;
    }
}

@media only screen and (max-width: 420px){
    .loader-one, .loader-two, .loader-three{
        width: 5px;
        height: 5px;
    }
}