<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="../homepage/homepage.css">
    <link rel="stylesheet" href="../homepage/loading-screen.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../../favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../favicon/favicon-16x16.png">
    <link rel="manifest" href="../../favicon/site.webmanifest">
    <style>
        nav{
            justify-content: center;
        }
        .blog-content{
            display: block;
        }
    </style>    
</head>

<body>
    <div class="loading-screen">
        <div class="loading-screen-image"><img src="../../assets/images/logo.png" alt=""></div>
        <div class="loader-animation">
            <div class="loader-one"></div>
            <div class="loader-two"></div>
            <div class="loader-three"></div>
        </div>
    </div>
    <nav>
        <img src="../../assets/images/logo.png" alt="blogg">
    </nav>

    <!-- BLOGS DISPLAY SECTION (HOME) -->

    <div class="home-container">
        <h2>blogg</h2>
        <div class="blogs-container">

        </div>
    </div>
    <script src="blog.js"></script>
</body>

</html>